<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.hylink.chexunjingwu"
    android:versionCode="9"
    android:versionName="1.0.0.9">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_SMS" />
    <uses-permission android:name="android.permission.READ_PHONE_NUMBERS" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission
        android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"
        tools:ignore="ProtectedPermissions" />
    <uses-permission
        android:name="android.permission.WRITE_MEDIA_STORAGE"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="android.permission.WRITE_INTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_INTERNAL_STORAGE" /> <!-- 在SDCard中创建与删除文件权限 -->
    <uses-permission
        android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"
        tools:ignore="ProtectedPermissions" /> <!-- 往SDCard写入数据权限 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" /> <!-- 从SDCard读取数据权限 -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" /> <!-- 相机权限 -->
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.EXPAND_STATUS_BAR" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_SMS" />
    <uses-permission android:name="android.permission.READ_PHONE_NUMBERS" />

    <!--    /*******************************/-->
    <uses-permission android:name="cybertech.permission.READ_PSTORE_USERINFO"></uses-permission>
    <uses-permission android:name="cybertech.permission.READ_PSTORE_LINKINFO"></uses-permission>
    <uses-permission android:name="cybertech.pstore.permission.APP" />
    <uses-permission android:name="cybertech.permission.READ_PSTORE" />
    <uses-permission android:name="cybertech.permission.READ_PSTORE_USERINFO" />
    <uses-permission android:name="cybertech.permission.READ_PSTORE_SERVER_SYNC_TIME" />
    <uses-permission android:name="cybertech.permission.READ_PSTORE_LINKINFO" />
    <uses-permission android:name="cybertech.permission.READ_PSTORE_LOCATIONINFO" />
    <uses-permission android:name="cybertech.permission.WRITE_PSTORE_OPERATIONLOG" />
    <uses-permission android:name="cybertech.permission.WRITE_PSTORE_APP_STATE_MONITOR" />
    <uses-permission
        android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"
        tools:ignore="ProtectedPermissions" />
    <uses-permission

        android:name="android.permission.WRITE_MEDIA_STORAGE"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="android.permission.WRITE_INTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_INTERNAL_STORAGE" /> <!-- 在SDCard中创建与删除文件权限 -->
    <uses-permission
        android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"
        tools:ignore="ProtectedPermissions" /> <!-- 往SDCard写入数据权限 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" /> <!-- 从SDCard读取数据权限 -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" /> <!-- 相机权限 -->
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" /> <!-- 这个权限用于访问GPS定位 -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.REQUEST_IGNORE_BATTERY_OPTIMIZATIONS" />
    <uses-permission android:name="com.huawei.permission.external_app_settings.USE_COMPONENT" />

    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true" />

    <application
        android:name="com.hylink.chexunjingwu.base.App"
        android:allowBackup="true"
        android:icon="@mipmap/logo_a"
        android:label="${APP_NAME}"
        android:networkSecurityConfig="@xml/network_config"
        android:roundIcon="@mipmap/logo_a"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.hylink.chexunjingwu.ui.activity.SplashActivity">
            <intent-filter>
                <action android:name="${ENTRY_ACTION}" />
                <category android:name="${ENTRY_CATEGORY}" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.hylink.chexunjingwu.ui.activity.LoginActivity"
            android:screenOrientation="portrait">

        </activity>

        <activity
            android:name="com.hylink.chexunjingwu.ui.activity.MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.hylink.chexunjingwu.ui.activity.SaoMaActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.hylink.chexunjingwu.ui.activity.MineEarlyWarningActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.hylink.chexunjingwu.ui.activity.JieChuJingActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.hylink.chexunjingwu.ui.activity.PoliceInforartionDetailActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.hylink.chexunjingwu.ui.activity.JingQingFeedBackActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.hylink.chexunjingwu.ui.activity.PoliceListActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.hylink.chexunjingwu.ui.activity.FeedBackDetailActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.hylink.chexunjingwu.ui.activity.CheckActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.hylink.chexunjingwu.ui.activity.CheckDetailActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.hylink.chexunjingwu.ui.activity.SettingHouTaiActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.hylink.chexunjingwu.ui.activity.InstructionsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.hylink.chexunjingwu.ui.activity.InstructionsDetailActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.hylink.chexunjingwu.ui.activity.VideoActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.hylink.chexunjingwu.ui.activity.InstructionsFeedBackActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.hylink.chexunjingwu.ui.activity.PersonnelInfoActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.hylink.chexunjingwu.ui.activity.CarInfoActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.hylink.chexunjingwu.ui.activity.NearbyPoliceForcesActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.hylink.chexunjingwu.ui.activity.ChuFaDanActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.hylink.chexunjingwu.ui.activity.ZheJiangNearbyPoliceForcesActivity"
            android:screenOrientation="portrait" >

        </activity>

        <provider
            android:name=".contentprovider.CxjwFileProvider"
            android:authorities="com.hylink.chexunjingwu.contentprovider.CxjwFileProvider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <service android:name="org.eclipse.paho.android.service.MqttService" />

        <!--        // 图盟key-->
        <meta-data
            android:name="com.mapabc.apikey"
            android:value="ec85d3648154874552835438ac6a02b2" />

        <!--        //移动端服务-->
        <meta-data
            android:name="com.mapabc.search.service"
            android:value="http://20.0.0.50:25001/as" />

        <!--        // 移动端服务-->
        <meta-data
            android:name="com.mapabc.map.service"
            android:value="http://20.0.0.50:15007" />


        <meta-data
            android:name="com.baidu.lbsapi.API_KEY"
            android:value="bLsi7xuGbNuNK9P0xPZI9L0rjNk2u63j" />

        <!-- 声明service组件 -->
        <service
            android:name="com.baidu.location.f"
            android:enabled="true"
            android:process=":remote" />
    </application>
</manifest>